<%= form_with(model: game_session, local: true) do |form| %>
  <% if game_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_session.errors.count, "error") %> prohibited this game_session from being saved:</h2>

      <ul>
        <% game_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.check_box :leaders_expansion %>
    <%= form.label :leaders_expansion, "Use Leaders" %>
  </div>
  <div class="field">
    <%= form.check_box :cities_expansion %>
    <%= form.label :cities_expansion, "Use Cities" %>
  </div>
  <div class="field">
    <%= form.check_box :babel_tower_expansion %>
    <%= form.label :babel_tower_expansion, "Use Babel Tower" %>
  </div>
  <div class="field">
    <%= form.check_box :babel_projects_expansion %>
    <%= form.label :babel_projects_expansion, "Use Babel Great Projects" %>
  </div>
  <div class="field">
    <%= form.check_box :armada_expansion %>
    <%= form.label :armada_expansion, "Use Armada" %>
  </div>
  <div class="field">
    <%= form.check_box :teams %>
    <%= form.label :teams, "Team Game" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
