<p id="notice"><%= notice %></p>
<h2>Game ID: <%= @game_session.id %></h2>
<h4>Created By: <%= @game_session.creator_user_id %></h4>
<%= link_to 'Edit', edit_game_session_path(@game_session) %> |
<%= link_to 'Back', game_sessions_path %>
